<p>
	<strong>Make:</strong>
	<%= @post.make %>
</p>
	
<p>
	<strong>Model:</strong>
	<%= @post.model %>
</p>

<p>
	<strong>Year:</strong>
	<%= @post.year %>
</p>

<p>
	<strong>Mod:</strong>
	<%= @post.mod %>
</p>